:root {
  --color-blue-dark: #072774;
  --color-blue: #0a369d;
  --color-blue-light: #4472ca;
  --color-blue-accent: #5e7ce2;
  --color-blue-lightest: #92b4f4;
  --color-bg: #cfdee7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

body {
  font-family: sans-serif;
  background-color: var(--color-bg);
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}
